#taskHeader {
    display: flex;
    width: 200px;
    height: 120px;
    flex-direction: column;
    flex-shrink: inherit;
    justify-content: center;
    color: #FFFFFF;
    /* Just a generic font while I try to see how to get the one he wants */
    font-family: AppleGothic, sans-serif;
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    line-height: normal;
}

#searchBar {
    width: 90%;
    height: 80%;
    flex-shrink: 0;
    color: white;
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(10px);
    outline: 0;
    border: 0;
    padding-left: 2em;
    font-size: 1.1em;
    margin: 0;
}

#searchBar::placeholder {
    color: white;
}

.searchBlock {
    position: relative;
    padding-bottom: 10%;
    flex: 1;
}

.filtersBlock {
    position: relative;
    flex: 2;
    margin: 1em;
}

#searchButton {
    position: absolute;
    nav-left: inherit;
    left: 85%;
    /*width: 25%;*/
    height: 90%;
    width: fit-content;
    top: 0;
    float: inherit;
    align-content: center;
    background-color: #D14081;
    border-radius: 100px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: 5px;
    font-family: "Font Awesome 5 Free", serif;
    font-weight: bold;
    text-align: center;
    font-size: 2em;
}


#leftBlocking {
    flex: 1;
    display: flex;
    flex-direction: row;
    float: left;
    padding-left: 5%;
}

#rightDiv {
    flex: 2;
    text-align: center;
    display: inline-block;
    float: right;
    position: absolute;
}

.gameImage {
    width: 7.5%;
    height: 7.5%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.headerBlocks {
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
    font-family: "Font Awesome 5 Free", serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    position: static;
}

.menu-container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}


.game_card {
    flex: none;
    display: inline-block;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 2em;
}
.game_card img{
    border-radius: 5%;
}
.cardImage {
    border-radius: 5%;
    object-fit: contain;
    width: 75%;
    height: auto;
}

#cardItem {
    /*background: #D14081;*/
    text-align: center;
    margin-bottom: 5%;
    position: relative;
    width: 20%;
    height: auto;
    padding-bottom: 25%;
    font-size: inherit;
}

/*#cardItem + #cardItem {*/
/*    margin-left: 3%;*/
/*}*/
img.class { overflow:hidden}

.filtersBlock{
    background: #8e8e8e;
    backdrop-filter: opacity(0.2);
}

.filtersBlock label{
    float: right;
    color: #FFF;
    text-align: center;
    font-family: "Font Awesome 5 Free", serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-block;
}

.filtersBlock input{
    display: inline-block;
    float: left;
}