@font-face {
    font-family: "Bahnschrift";
    src: url("https://db.onlinewebfonts.com/t/0a6ee448d1bd65c56f6cf256a7c6f20a.eot");
    src: url("https://db.onlinewebfonts.com/t/0a6ee448d1bd65c56f6cf256a7c6f20a.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/0a6ee448d1bd65c56f6cf256a7c6f20a.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/0a6ee448d1bd65c56f6cf256a7c6f20a.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/0a6ee448d1bd65c56f6cf256a7c6f20a.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/0a6ee448d1bd65c56f6cf256a7c6f20a.svg#Bahnschrift")format("svg");
}
@font-face {
    font-family: "MuseoModerno Regular";
    src: url("https://db.onlinewebfonts.com/t/737bd26de7fe662af815bcf421c09198.eot");
    src: url("https://db.onlinewebfonts.com/t/737bd26de7fe662af815bcf421c09198.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/737bd26de7fe662af815bcf421c09198.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/737bd26de7fe662af815bcf421c09198.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/737bd26de7fe662af815bcf421c09198.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/737bd26de7fe662af815bcf421c09198.svg#MuseoModerno Regular")format("svg");
}
body {
    margin: 0;
    padding: 0;
    background-color: #190A28;
    color: #FFFFFF;
    font-family: Bahnschrift, sans-serif;
}
#hexagon {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    z-index: -1;
}
.gradient {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(253, 253, 255, 0.20) 0%, rgba(0, 0, 0, 0.65) 88.48%);
}
.glass {
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.075);
}
header {
    min-height:50px;
    padding: 30px;
}
footer {
    margin-top: auto;
    min-height:50px;
}

/* visited is just to see the hyperlinks as white in the dark purple background */
a:visited {
    color: white;
}

.logo {
    position: relative;
    #title_1, #title_2 {
        text-align: center;
        text-shadow: 0 4px 4px #D14081;
        font-family: MuseoModerno Regular, sans-serif;
        font-size: 50px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        height: 15%;
        width: 47%;
        bottom: 0;
    }
    #title_1 {
        position: absolute;
        left: 0;
        color: #E7FFF2;
        -webkit-text-stroke: 3px #D14081;
    }
    #title_2 {
        position: absolute;
        right: 0;
        bottom: 0;
        color: #41584C;
        -webkit-text-stroke: 2px #79FFB7;
    }
    & img {
        position: absolute;
        width: 60%;
        left: 20%;
    }
}


.logo#big {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 170px;
}

.logo#small {
    width: 200px;
    height: 115px;
    margin-left: 50px;
    margin-bottom: 20px;
    #title_1, #title_2 {
        font-size: 32px;
    }
    #title_1 {
        -webkit-text-stroke: 2px #D14081;
    }
    #title_2 {
        -webkit-text-stroke: 1px #79FFB7;
    }
}

#blurb {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    text-align: center;
}

.button {
    position: relative;
    top: -74px;
    cursor: pointer;
    .link {
        margin-top: 10px;
        position: absolute;
        color: #FFF;
        text-align: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        width: max-content;
        border-radius: 10px;
        background: #D14081;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
    .arrow {
        position: absolute;
        z-index: 1;
        width: 74px;
        height: 74px;
        border-radius: 100px;
        background-color: rgba(255, 255, 255, 0.72);
        backdrop-filter: blur(5px);
        color: #41584C;
        text-align: center;
        font-family: "Font Awesome 5 Free";
        font-size: 32px;
        font-style: normal;
        font-weight: 900;
        line-height: 74px;
    }
    .link#left {
        margin-left: 37px;
        padding: 15px 20px 10px 50px;
        left: 0;
    }
    .link#right {
        margin-right: 37px;
        padding: 15px 50px 10px 20px;
        right: 0;
    }
    .arrow#left {
        left: 0;
    }
    .arrow#right {
        right: 0;
    }
}
