{% extends "base_large_banner.html" %}
{% load static %}

{% block body_block %}

     <h1>About</h1>

     <p>{{ description }}</p>
     <div>
         <img src="{{ image }}" alt="{{ item.name }} Image" style="width: 300px; height: auto;">
     </div>

     <h2>PUBLICATIONS</h2>
     <ul>
    {% for publication in publications %}
        <li><a href="{{ publication.link }}">{{ publication.title }} - {{ publication.author }}</a></li>
    {% endfor %}
    </ul>

<a href={% url 'na:edit_about' %}>Edit</a>


{% endblock %}
