<!DOCTYPE html> {% load static %}
<html>
<head>
    <title>
        {% block title_block %} Neuro Arcade - Work in Progress {% endblock %}
    </title>
    <link rel="stylesheet" href="../static/styles/main.css">
        {% block style_block %}
        {% endblock %}
</head>
<body>
<img src="../media/assets/background.png" alt="" id="hexagon">
<div class="gradient">
    <header class="glass">
    {% block body_header_block %}
        <!-- PUT NAVBAR HERE -->
        <!-- temporary navbar for testing purposes -->
        {% if user.is_authenticated %}
        <a href={% url 'na:logout' %}>Logout</a>
        {% else %}
        <a href={% url 'na:login' %}>Login</a>
        <a href={% url 'na:sign_up' %}>Sign up</a>
        {% endif %}
    {% endblock %}
    </header>

    <div class="body-block">
        {% block body_block %}
            <ul>
                <li><a href={% url 'na:index' %}>Index</a></li>
                <li><a href={% url 'na:game_search' %}>Game Search</a></li>
                <li><a href={% url 'na:about' %}>About Us</a></li>
            </ul>
        {% endblock %}
    </div>

    <footer class="glass">
    {% block footer_block %}
        <!--  PUT FOOTER BLOCK HERE  -->
    {% endblock %}
    </footer>
</div>
</body>
</html>