<!DOCTYPE html> {% load static %}
<html lang="en">
<head>
    <title>
        {% block title_block %} Neuro Arcade - Work in Progress {% endblock %}
    </title>
    <link rel="stylesheet" href="../static/styles/main.css">
    <link rel="stylesheet" href="../static/styles/index.css">
    <link rel="stylesheet" href="../static/styles/games.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">

        {% block style_block %}
        {% endblock %}
</head>
<body>
<img src="../static/images/background.png" alt="" id="hexagon">
<div class="gradient">

    <header class="glass">
    {% block header_block %}
    {% endblock %}
    </header>

    <div class="body-block">
        {% block body_block %}
            {% if user.is_authenticated %}
                <a href={% url 'na:logout' %}>Logout</a>
                {% else %}
                <a href={% url 'na:login' %}>Login</a>
                <a href={% url 'na:sign_up' %}>Sign up</a>
            {% endif %}
        {% endblock %}
    </div>

    <footer class="glass">
    {% block footer_block %}
        <!--  PUT FOOTER BLOCK HERE  -->
    {% endblock %}
    </footer>
</div>
</body>
</html>