{% extends "base.html" %}

{% block body_block %}

<h1>Edit About</h1>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <p>Description: <input type="text" name="description" value="" size="50" /></p>
    <p>Upload Image: <input type="file" name="image" accept=".jpg, .png"></p>

    {% for p in Publications %}
        <p>Title: <input type="text" name="title" value="" size="50" /></p>
        <p>Author: <input type="text" name="author" value="" size="50" /></p>
        <p>Link: <input type="text" name="link" value="" size="50" /></p>
    {% endfor %}

    <input type="submit" value="Save Changes">
</form>

<a href="{% url 'na:about' %}">Back to About Page</a>

{% endblock %}