{% extends "base.html" %}

{% block body_block %}
    <h1>{{ game.name }}</h1>
    <img src="{{ game.icon.url }}" alt="game icon" width=128>
    <h3>Game Description:</h3>
    <p>
        {{ game.description }}
    </p>
    <h3>Game Tags</h3>
    {% if game.tags %}
        {% for tag in game.tags.all %}
            <ul>{{ tag.name }}</ul>
        {% endfor %}
    {% endif %}
    <h3>Score Table</h3>
    {% if scores %}
        {% for score in scores %}
            <ul>score: {{ score }}</ul>
        {% endfor %}
    {% else %}
        <p>No scores loaded!</p>
    {% endif %}
{% endblock %}
