{% extends "base_small_banner.html" %}

{% block header_block %}
    {{ block.super }}
{% endblock %}

{% block body_block %}
    <h1>{{ game.name }}</h1>
    {% if game.icon %}
    <img src="{{ game.icon.url }}" alt="game icon" width=128>
    {% endif %}
    <h3>Game Description:</h3>
    <p>
        {{ game.description }}
    </p>
    <h3>Game Tags</h3>
    {% if game.tags %}
        {% for tag in game.tags.all %}
            <ul>{{ tag.name }}</ul>
        {% endfor %}
    {% endif %}
    <h3>Score Table</h3>
    {% if rows %}
        <table>
            <tr>
                <th>Players:</th>
                {% for header in table_headers %}
                    <th>{{ header.name }}</th>
                {% endfor %}
            </tr>
            {% for row in rows %}
                <tr>
                    <th>{{ row.player.name }}</th>
                    {% for value in row.score %}
                        <th>{{ value }}</th>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>

{#        {% for score in scores %}#}
{#            <ul>score: {{ score }}</ul>#}
{#        {% endfor %}#}
    {% else %}
        <p>No scores loaded!</p>
    {% endif %}
{% endblock %}
