{% extends "base.html" %}

{% block body_block %}

<h1>Game search</h1>

<form id="search-form" action="{% url 'na:game_search' %}" method="GET">
    <h2>Query</h2>
    <div>
        <input class = "searchBar" type="text" placeholder="Search Games" id="query" name="query">
        <button id = "icon" type="submit"><span class='icon'></span></button>
    </div>

    <h2>Filters:</h2>
    <select name="tags" id="tags" multiple>
        {% for tag in tags %}
        <option value={{ tag.slug }}> {{ tag.name }}</option>
        {% endfor %}
    </select>
</form>

<h2 id = "TaskHeader">All Tasks</h2>
<ul>
{% if games %}
    {% for game in games %}
    <li><div>
        <a class="gamesIcons" href={% url 'na:game_view' game.slug %}>
            <img src="{{ game.icon.url }}" width=64 alt="{{ game.name }} - Icon"> </img>
            <p>{{ game.description }}</p>
        </a>
        {% for tag in game.tags.all %}
            [{{ tag.name }}] 
        {% endfor %}
    </div></li>
    {% endfor %}
{% else %}
    <li>NO GAMES IN DB!<br> (maybe you forgot to populate it (run populate.py))</li>
{% endif %}
</ul>

{% endblock %}
