.Banner, .MobileBanner {
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.075);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.05);
    .Buffer {
        width: 14em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.MobileBanner {
    display: none;
}

.TabSwitcher > * > * > * {
    width: 10em;
}

@media (max-width: 50em) {
    .Banner {
        display: none;
    }
    .MobileBanner {
        display: flex;
        align-items: center;
        justify-content: center;
        .AnimationContainer {
            margin: auto 0;
        }
    }
}