.Card {
    width: max-content;
    height: max-content;
    padding-bottom: 1em;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 1.5em;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    & a {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        height: 10em;
        width: 7em;
    }
    .Icon {
        padding-bottom: 0.5em;
        width: 100%;
        height: 70%;
        border-radius: 1.5em;
        object-fit: contain;
        color: rgba(255, 255, 255, 0.5);
    }
    .Icon > * {
        width: 60%;
        height: 100%;
        border-radius: 1.5em;
    }
    .Icon > img {
        width: 100%;
        height: 100%;
    }
    .Text {
        text-decoration: none;
        text-align: center;
        font-size: 0.85em;
        margin: auto 0;
        color: #FFFFFF;
        padding: 0 0.5em;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

#nav {
    a {
        height: 8em;
        width: 5.6em;
    }
}

@media (max-width: 75em) {
    .Card {
        a {
            height: 8em;
            width: 5.6em;
        }
    }
}

@media (max-width: 50em) {
    .Card {
        a {
            height: 7.5em;
            width: 5.25em;
            .Text {
                font-size: 0.7em;
            }
        }
    }
    #nav {
        a {
            height: 6.5em;
            width: 4.55em;
        }
    }
}

@media (max-width: 40em) {
    .Card {
        border-radius: 1.25em;
        a {
            height: 6.5em;
            width: 4.55em;
        }
    }
}

@media (max-width: 30em) {
    .Card {
        border-radius: 1em;
        a {
            height: 6em;
            width: 4.2em;
            .Text {
                font-size: 0.55em;
            }
        }
    }
    #nav {
        border-radius: 1em;
        a {
            height: 5em;
            width: 3.5em;
        }
    }
}