.Form {
    width: 100%;
    position: relative;
    background-color: rgba(3, 3, 3, 0.4);
    border-radius: 0.5em;
    padding: 3em 3em;
    top: -3em;
    backdrop-filter: blur(20px);
    & h3 {
        width: max-content;
    }
}