.NavBar {
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.075);
    display: flex;
    align-items: center;
    position: fixed;
    width: 100dvw;
    bottom: 0;
    z-index: 1;
    height: 10em;
    .Buffer {
        width: 50%;
    }
}

@media (min-width: 50em) {
    .NavBar {
        display: none;
    }
}

@media (max-width: 25em) {
    .Buffer {
        width: 6.75em;
        * {
            margin: 0;
        }
    }
    .NavBar {
        height: 10em;
    }
}