.TabSwitcher {
    position: absolute;
    top: 0.5em;
    width: 100%;
    z-index: 2;
}

.TableContainer {
    position: relative;
    background-color: rgba(3, 3, 3, 0.4);
    border-radius: 0.5em;
    backdrop-filter: blur(20px);
    padding: 2em;
    width: fit-content;
    height: 30.75em;
    margin: 3em 0 0 auto;

    .TabSwitcher {
        right: 0;
        top: -2em;
        width: fit-content;
    }
    h2 {
        position: absolute;
        top: -1.5em;
        left: 1em;
        font-size: 1.75em;
    }
}

#home {
    height: fit-content;
    margin: 6em auto 2em;
}

@media(max-width: 78em) {
    #home {
        margin: 1em auto 0;
    }
}

@media(max-width: 50em) {
    .TableContainer {
        scale: 0.9;
    }
}

@media (max-width: 50em) {
    .TableContainer {
        margin: auto;
    }
}