.GameGrid {
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(8em + 4*(7em));
    height: 27.5em;
    justify-items: center;
    margin: 0 auto;
}

#AppGrid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: min-content;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(auto-fit, minmax(7.5em, 1fr));
    gap: 1em;
}

@media (max-width: 75em) {
    .GameGrid {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-rows: min-content;
        grid-auto-rows: min-content;
        grid-template-columns: repeat(auto-fit, minmax(7.5em, 1fr));
        gap: 0;
    }
}