.GameCard {
    position: relative;
    float: left;
    display: grid;
    font-size: 1em;
    width: max-content;
    margin: 1.25em;
    & img {
        padding: 0.5em;
        width: 5em;
        height: 5em;
        border-radius: 1.5em;
    }
}

@media (max-width: 50em) {
    .GameCard {
        margin: 0.75em auto;
        font-size: 0.8em;
        & img {
            width: 4em;
            height: 4em;
        }
    }
}