.MainBlock {
    margin: 3em 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .Content {
        width: 60%;
        & h1 {
            position: relative;
            text-align: left;
            padding-left: 1em;
        }
    }
    .Side {
        width: 40%;
    }
}
.MobileBannerBuffer {
    display: none;
    height: 7em;
}
.MoreGames {
    margin-left: 0;
}

@media (max-width: 70em) {
    .DesktopBanner {
        display: none;
    }
    .MainBlock {
        display: block;
        width: calc(100% - 6em);
        margin: 3em;
        .Content {
            width: 100%;
            margin: 0;
        }
        & h1 {
            font-size: 1.5em;
        }
    }
    .MobileBannerBuffer {
        display: block;
    }
}
